<mat-sidenav-container class="nav-container" autosize>

  <mat-sidenav mode="side" opened="true" class="sidenav">
    <div class="title-container">
      <span class="side-title">Network</span>
    </div>
    <mat-nav-list class="nav-list">
      <mat-list-item>
        <span class="list-item-span">Home</span>
        <mat-icon mat-list-icon>home</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <span class="list-item-span">Search</span>
        <mat-icon mat-list-icon>search</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <span class="list-item-span">Explore</span>
        <mat-icon mat-list-icon>explore</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <span class="list-item-span">Messages</span>
        <mat-icon mat-list-icon>mail_outline</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <span class="list-item-span">Notifications</span>
        <mat-icon mat-list-icon>favorite_border</mat-icon>
      </mat-list-item>
      <mat-list-item (click)="openDialog()">
        <span class="list-item-span" >Create</span>
        <mat-icon mat-list-icon>add_box</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <span class="list-item-span">Profile</span>
        <mat-icon mat-list-icon>person</mat-icon>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
</mat-sidenav-container>


