.nav-container {
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 18vw;
}

.sidenav{
  width: 18vw;
}

.list-item-span{
  margin-left: 5px;
}

.nav-list > mat-list-item{
  //padding: 0px 0px 0px 0px;
  border-radius: 24px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  width: 90%;

}
.title-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.side-title{
  font-family: cursive;
  font-size: 25px;
}



