.search-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 4vw;
  top: 0px;
  z-index: 1;
  height: 100vh;
  width: 300px;
  /*border: solid 1px black;*/
  background-color: rgb(255, 255, 255);
  border-right-color: rgb(219, 219, 219);
  border-radius: 0px 16px 16px 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 0px 24px 0px;
}

.search-header{
  display: flex;
  color: rgb(38, 38, 38);
  direction: ltr;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 17px;
  line-height: 18px;
  margin: 8px 0px;
  padding: 12px 14px 36px 24px;

}

.search-title{
  color: rgb(38, 38, 38);
  direction: ltr;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 600;
  height: 26px;
  line-height: 26px;
  margin-block-end: -5px;
  margin-block-start: -4px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin: -4px 0px -5px;
  padding: 0px;
}

.search-content{
  display: flex;
  flex-direction: column;
}

.search-input{
  align-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  direction: ltr;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 64px;
  width: 90%;
  justify-content: flex-start;
  line-height: 18px;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;

}

.full-width{
  width: 100%;
}

.search-result-container{
  display: flex;
  width: 95%;

}

.result-item{
  display: flex;
  align-content: stretch;
  align-items: center;
  cursor: pointer;
  flex-basis: auto;
  flex-direction: row;
  font-size: 14px;
  height: 48px;
  justify-content: flex-start;
  line-height: 18px;
  padding: 8px 24px;
  position: relative;
  text-align: start;
  /*border: solid 1px black;*/
  width: 100%;
}

.img-result{
  /*border: solid 1px black;*/
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 12px;
  flex-grow: 0;
  flex-shrink: 0;
}
.text-content-result{
  /*border: solid 1px black;*/
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
.img-item{
  /*border: solid 1px black;*/
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.mat-list-item{
  margin-left: 15px;
}
.mat-list-item:hover{
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 55px;
}

::ng-deep .mat-list-base, .mat-list-item, .mat-list-item-content{
  padding: 0!important;
}

::ng-deep .mat-list-item-content{
  padding-left: 0!important;
  width: 100%;
}
